In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn.linear_model as lm
import statsmodels.formula.api as smf
from sklearn.preprocessing import scale
import seaborn as sns
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import train_test_split, LeaveOneOut, KFold, cross_val_score
from sklearn.metrics import mean_squared_error

In [2]:
auto = pd.read_csv("C:/Users/Kavita manoj/Downloads/Auto.csv", na_values='?').dropna()

In [3]:
fit = smf.ols("mpg~horsepower+I(horsepower**2)", data=auto).fit()
fit.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    mpg   R-squared:                       0.688
Model:                            OLS   Adj. R-squared:                  0.686
Method:                 Least Squares   F-statistic:                     428.0
Date:                Wed, 22 Mar 2023   Prob (F-statistic):           5.40e-99
Time:                        13:30:00   Log-Likelihood:                -1133.2
No. Observations:                 392   AIC:                             2272.
Df Residuals:                     389   BIC:                             2284.
Df Model:                           2
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept             56.9001      1.800     31.604      0.000      53.360      60.440
horsepower            -0.4662      0.031    -14.978      0.000      -0.527      -0.405
I(horsepower ** 2)     0.0012      0.000     10.080      0.000       0.001       0.001
==============================================================================
Omnibus:                       16.158   Durbin-Watson:                   1.078
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               30.662
Skew:                           0.218   Prob(JB):                     2.20e-07
Kurtosis:                       4.299   Cond. No.                     1.29e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.29e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [4]:
HLP = fit.get_influence()
auto['Leverage'] = HLP.hat_matrix_diag

In [5]:
auto.to_markdown

<bound method DataFrame.to_markdown of       mpg  cylinders  displacement  horsepower  weight  acceleration  year  \
0    18.0          8         307.0       130.0    3504          12.0    70
1    15.0          8         350.0       165.0    3693          11.5    70
2    18.0          8         318.0       150.0    3436          11.0    70
3    16.0          8         304.0       150.0    3433          12.0    70
4    17.0          8         302.0       140.0    3449          10.5    70
..    ...        ...           ...         ...     ...           ...   ...
392  27.0          4         140.0        86.0    2790          15.6    82
393  44.0          4          97.0        52.0    2130          24.6    82
394  32.0          4         135.0        84.0    2295          11.6    82
395  28.0          4         120.0        79.0    2625          18.6    82
396  31.0          4         119.0        82.0    2720          19.4    82

     origin                       name  Leverage
0         1  chevrolet chevelle malibu  0.006456
1         1          buick skylark 320  0.008963
2         1         plymouth satellite  0.007447
3         1              amc rebel sst  0.007447
4         1                ford torino  0.006968
..      ...                        ...       ...
392       1            ford mustang gl  0.003245
393       2                  vw pickup  0.016629
394       1              dodge rampage  0.003308
395       1                ford ranger  0.003713
396       1                 chevy s-10  0.003424

[392 rows x 10 columns]>

In [6]:
np.argmax(auto['Leverage'])

115

In [7]:
np.max(auto['Leverage'])

0.09359709306398872

In [8]:
np.argmin(auto['Leverage'])

18

In [9]:
"""
step1. na values ----> replace
step2. scale -----> y, x -----> Ystand ----> y during pred
step3. check linearity
step4. best model
step5. check VIF, drop highest VIF

for ML

work on 80% of the dataset ----> training dataset

Rsq, Adj. Rsq, P values, F stats

work on 20% testing dataset, MSE"""

'\nstep1. na values ----> replace\nstep2. scale -----> y, x -----> Ystand ----> y during pred\nstep3. check linearity\nstep4. best model\nstep5. check VIF, drop highest VIF\n\nfor ML\n\nwork on 80% of the dataset ----> training dataset\n\nRsq, Adj. Rsq, P values, F stats\n\nwork on 20% testing dataset, MSE'

In [10]:
"""Leave One out cross validation

suppose 100 datapoints

99 datapoints training, 1 testing, with replacement

100 MSEs, find average
check for better mse avg

MSE1 for 99, MSE2 for """

'Leave One out cross validation\n\nsuppose 100 datapoints\n\n99 datapoints training, 1 testing, with replacement\n\n100 MSEs, find average\ncheck for better mse avg\n\nMSE1 for 99, MSE2 for '

In [11]:
"""Kfold Cross Validation

K Fold = 5,
100 datapoints

fold the datapoints into 5
4 training, 1 fold testing

5 MSEs

take average"""

'Kfold Cross Validation\n\nK Fold = 5,\n100 datapoints\n\nfold the datapoints into 5\n4 training, 1 fold testing\n\n5 MSEs\n\ntake average'

In [12]:
np.random.seed(1)
train = np.random.choice(auto.shape[0], 196, replace= False)
"""from 392, 196 as training, 196 as testing"""
select = np.in1d(range(auto.shape[0]), train)
print(train)

[ 81 165 351 119 379 236  78  92  80 333 278 307 283 218 366   4 385 324
   6 167 146 132 120 228   5 290 214 197 162 338 260 232  67 383 224 185
 161 250 377  18 229  62 122 125 106 160 102 371 189  93  65 251 311 389
 329 172 304  17 306 246 381 180 343 247 192 174 207  11 291  41 318 289
 213 315  23 293  13  90  61 334 258 139 310 349  95 358 327 294 127 191
  82 361 222  27  89 305  73 274 257 287 107 204  98 233 117 277 360 244
  39 159 301 355 345  59  12 303 163  91 332 391 388  29 273 292  85  58
 354 188 171 348 369 298  88 131 124 230  14 271 123 138 111  51 112   9
 175  16 173   0 105 179 201  70  38 150 359 375 372 145  42 227 223 208
 186 386 285 272 147 326 100  34 110 234 135 368 154  19 248 158 267  44
 331 225 238 108 339 169  79 373  84   8 390  99 342 323 314  28]

In [13]:
print(select) #True = in training

[ True False False False  True  True  True False  True  True False  True
  True  True  True False  True  True  True  True False False False  True
 False False False  True  True  True False False False False  True False
 False False  True  True False  True  True False  True False False False
 False False False  True False False False False False False  True  True
 False  True  True False False  True False  True False False  True False
 False  True False False False False  True  True  True  True  True False
  True  True False False  True  True  True  True  True  True False  True
 False False  True  True  True False  True False False  True  True  True
  True False  True  True  True False False False False  True False  True
  True False  True  True  True  True False  True False False False  True
  True False False  True False False  True  True False False False False
 False  True  True  True False False  True False False False  True False
 False False  True  True  True  True  True  True False  True False  True
 False  True False  True  True  True  True  True False False False  True
  True False False False False  True  True False  True  True False  True
  True False False False False  True False False False  True False False
  True False False  True  True False False False False  True  True False
 False False  True False False False  True  True  True  True False  True
  True  True  True False  True  True  True False  True False  True False
 False False False False  True False  True  True  True False  True  True
 False False False False False  True  True False  True False False False
 False False False  True False False False  True  True  True  True False
 False  True  True False False False False  True False  True False  True
 False  True  True  True  True  True  True False False False  True False
 False  True False  True  True  True  True  True False False  True  True
 False False  True  True False False  True False False False False  True
  True False  True  True False  True False  True  True  True  True False
 False False  True  True False False  True  True False  True False False
  True  True False  True False False  True  True False False  True  True
  True  True False False False False  True False  True  True False  True
  True  True False  True False  True False  True False  True False  True
 False  True  True False  True  True  True  True]

In [14]:
auto[select]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name,Leverage
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu,0.006456
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino,0.006968
5,15.0,8,429.0,198.0,4341,10.0,70,1,ford galaxie 500,0.026529
6,14.0,8,454.0,220.0,4354,9.0,70,1,chevrolet impala,0.064407
8,14.0,8,455.0,225.0,4425,10.0,70,1,pontiac catalina,0.077871
...,...,...,...,...,...,...,...,...,...,...
391,27.0,4,151.0,90.0,2950,17.3,82,1,chevrolet camaro,0.003258
393,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup,0.016629
394,32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage,0.003308
395,28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger,0.003713
396,31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10,0.003424

In [15]:
lm1 = smf.ols('mpg~horsepower', data=auto).fit()
lm1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    mpg   R-squared:                       0.606
Model:                            OLS   Adj. R-squared:                  0.605
Method:                 Least Squares   F-statistic:                     599.7
Date:                Wed, 22 Mar 2023   Prob (F-statistic):           7.03e-81
Time:                        13:30:01   Log-Likelihood:                -1178.7
No. Observations:                 392   AIC:                             2361.
Df Residuals:                     390   BIC:                             2369.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     39.9359      0.717     55.660      0.000      38.525      41.347
horsepower    -0.1578      0.006    -24.489      0.000      -0.171      -0.145
==============================================================================
Omnibus:                       16.432   Durbin-Watson:                   0.920
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               17.305
Skew:                           0.492   Prob(JB):                     0.000175
Kurtosis:                       3.299   Cond. No.                         322.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [16]:
lm2 = smf.ols('mpg~horsepower+I(horsepower**2)', data=auto).fit()
lm2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    mpg   R-squared:                       0.688
Model:                            OLS   Adj. R-squared:                  0.686
Method:                 Least Squares   F-statistic:                     428.0
Date:                Wed, 22 Mar 2023   Prob (F-statistic):           5.40e-99
Time:                        13:30:02   Log-Likelihood:                -1133.2
No. Observations:                 392   AIC:                             2272.
Df Residuals:                     389   BIC:                             2284.
Df Model:                           2
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept             56.9001      1.800     31.604      0.000      53.360      60.440
horsepower            -0.4662      0.031    -14.978      0.000      -0.527      -0.405
I(horsepower ** 2)     0.0012      0.000     10.080      0.000       0.001       0.001
==============================================================================
Omnibus:                       16.158   Durbin-Watson:                   1.078
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               30.662
Skew:                           0.218   Prob(JB):                     2.20e-07
Kurtosis:                       4.299   Cond. No.                     1.29e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.29e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [17]:
pred = lm1.predict(auto)
error = (auto['mpg']-pred)**2
print(np.mean(error[~select]))

23.217009269417332

In [18]:
pred2 = lm2.predict(auto)
error2 = (auto['mpg']-pred)**2
print(np.mean(error[~select]))

23.217009269417332

In [19]:
# dummy var for categorical
df_onehot_encoding = pd.get_dummies(data=auto, columns=['origin'])

In [20]:
df_onehot_encoding

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,name,Leverage,origin_1,origin_2,origin_3
0,18.0,8,307.0,130.0,3504,12.0,70,chevrolet chevelle malibu,0.006456,1,0,0
1,15.0,8,350.0,165.0,3693,11.5,70,buick skylark 320,0.008963,1,0,0
2,18.0,8,318.0,150.0,3436,11.0,70,plymouth satellite,0.007447,1,0,0
3,16.0,8,304.0,150.0,3433,12.0,70,amc rebel sst,0.007447,1,0,0
4,17.0,8,302.0,140.0,3449,10.5,70,ford torino,0.006968,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
392,27.0,4,140.0,86.0,2790,15.6,82,ford mustang gl,0.003245,1,0,0
393,44.0,4,97.0,52.0,2130,24.6,82,vw pickup,0.016629,0,1,0
394,32.0,4,135.0,84.0,2295,11.6,82,dodge rampage,0.003308,1,0,0
395,28.0,4,120.0,79.0,2625,18.6,82,ford ranger,0.003713,1,0,0
396,31.0,4,119.0,82.0,2720,19.4,82,chevy s-10,0.003424,1,0,0

In [21]:
df_onehot_encoding.cylinders.astype(str)
df_onehot_encoding = pd.get_dummies(data=df_onehot_encoding, columns=['cylinders'])
df_onehot_encoding

,mpg,displacement,horsepower,weight,acceleration,year,name,Leverage,origin_1,origin_2,origin_3,cylinders_3,cylinders_4,cylinders_5,cylinders_6,cylinders_8
0,18.0,307.0,130.0,3504,12.0,70,chevrolet chevelle malibu,0.006456,1,0,0,0,0,0,0,1
1,15.0,350.0,165.0,3693,11.5,70,buick skylark 320,0.008963,1,0,0,0,0,0,0,1
2,18.0,318.0,150.0,3436,11.0,70,plymouth satellite,0.007447,1,0,0,0,0,0,0,1
3,16.0,304.0,150.0,3433,12.0,70,amc rebel sst,0.007447,1,0,0,0,0,0,0,1
4,17.0,302.0,140.0,3449,10.5,70,ford torino,0.006968,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,27.0,140.0,86.0,2790,15.6,82,ford mustang gl,0.003245,1,0,0,0,1,0,0,0
393,44.0,97.0,52.0,2130,24.6,82,vw pickup,0.016629,0,1,0,0,1,0,0,0
394,32.0,135.0,84.0,2295,11.6,82,dodge rampage,0.003308,1,0,0,0,1,0,0,0
395,28.0,120.0,79.0,2625,18.6,82,ford ranger,0.003713,1,0,0,0,1,0,0,0
396,31.0,119.0,82.0,2720,19.4,82,chevy s-10,0.003424,1,0,0,0,1,0,0,0

In [22]:
train2 = np.random.choice(auto.shape[0], 314, replace=False)
select2 = np.in1d(range(auto.shape[0]), train2)
print(select2)

[ True  True  True  True False  True  True False  True  True False  True
 False  True  True  True  True  True  True  True  True False  True  True
  True  True  True  True False  True False  True  True False  True  True
  True  True False False  True  True False  True  True  True  True  True
  True  True  True  True False  True  True  True  True  True  True  True
  True  True  True  True  True  True  True False  True  True  True  True
  True  True  True  True  True  True False  True  True  True  True  True
  True  True False  True  True  True  True  True  True  True  True  True
 False  True  True False  True  True False  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True False  True False  True  True  True  True  True False False
  True False  True  True False  True  True  True False  True  True  True
 False False  True  True  True  True  True  True  True False  True False
  True False False  True  True  True False  True  True  True  True  True
 False  True  True  True  True  True  True  True False  True  True  True
  True  True  True  True  True  True False  True  True  True  True  True
 False  True  True  True  True False  True  True False  True  True  True
  True  True  True  True  True False False  True  True  True  True  True
  True  True  True False False  True False  True  True  True  True  True
  True  True False False  True  True  True False False  True  True  True
  True  True  True  True  True  True  True  True  True  True False  True
  True  True  True  True  True  True  True  True False False  True  True
  True  True  True  True  True  True False  True False  True  True False
  True  True  True  True False  True  True  True  True  True  True False
  True  True  True  True  True  True  True  True False  True  True  True
 False  True False  True False  True False  True  True  True  True  True
 False False  True  True  True False  True  True  True  True  True  True
 False  True False  True  True  True False  True False False  True  True
  True False  True  True  True  True  True False  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True False
 False  True  True  True  True False False  True  True  True  True  True
  True  True  True  True False False  True  True  True  True  True False
 False  True  True  True  True  True  True  True]

In [23]:
np.round(0.8*392)

314.0