In [38]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [39]:
df = pd.read_csv("Anova Dataset 3.csv")
df

   Impoverished  Standard  Enriched  Super Enriched
0            22        17        12               8
1            19        21        14               7
2            15        15        11              10
3            24        12         9               9
4            18        19        15              12

In [40]:
df2 = pd.melt(df, value_vars=["Impoverished", "Standard", "Enriched", "Super Enriched"])
df2.columns= ["Rat_Env", "Trials"]
df2

           Rat_Env  Trials
0     Impoverished      22
1     Impoverished      19
2     Impoverished      15
3     Impoverished      24
4     Impoverished      18
5         Standard      17
6         Standard      21
7         Standard      15
8         Standard      12
9         Standard      19
10        Enriched      12
11        Enriched      14
12        Enriched      11
13        Enriched       9
14        Enriched      15
15  Super Enriched       8
16  Super Enriched       7
17  Super Enriched      10
18  Super Enriched       9
19  Super Enriched      12

In [41]:
fit = ols("Trials~Rat_Env", data=df2).fit()
anova = sm.stats.anova_lm(fit)
anova

            df  sum_sq     mean_sq          F    PR(>F)
Rat_Env    3.0  323.35  107.783333  12.717797  0.000166
Residual  16.0  135.60    8.475000        NaN       NaN

In [42]:
tukey = pairwise_tukeyhsd(df2['Trials'], df2['Rat_Env'])
tukey._results_table

In [43]:
from scipy.stats import ttest_ind
ttest_ind(df['Enriched'], df['Impoverished'], alternative='less')

Ttest_indResult(statistic=-3.9001424475410023, pvalue=0.002271870199507968)

In [44]:
ttest_ind(df['Super Enriched'], df['Impoverished'], alternative="less")

Ttest_indResult(statistic=-5.813776741499455, pvalue=0.00019942736431892568)

In [45]:
ttest_ind(df['Super Enriched'], df['Standard'], alternative='less')

Ttest_indResult(statistic=-4.2618683710995375, pvalue=0.0013771981567282264)

In [46]:
ttest_ind(df['Standard'], df['Impoverished'], alternative='less')

Ttest_indResult(statistic=-1.264911064067352, pvalue=0.12075198595652996)