In [9]:
import numpy as np
import pandas as pd
from scipy import stats
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.multivariate.manova import MANOVA

In [10]:
import pandas as pd
url = "https://raw.githubusercontent.com/RintheLab/More-than-Two-Treatments-Comparison/main/data/main_data.csv"
df = pd.read_csv(url)
df.head()

    SL   CLQ
0  SL1  21.0
1  SL1  27.7
2  SL1  19.7
3  SL1  23.7
4  SL1  28.6

In [7]:
fit1 = ols('CLQ~SL',data=df).fit()
anova = sm.stats.anova_lm(fit1,typ=1)
anova
#since pvaule>0.05, we accept null

            df      sum_sq     mean_sq          F        PR(>F)
SL         3.0  946.301250  315.433750  46.634778  3.263604e-09
Residual  20.0  135.278333    6.763917        NaN           NaN

In [8]:
tukey = pairwise_tukeyhsd(df["CLQ"],groups=df['SL'])
tukey._results_table

In [15]:
group1 = df[df['SL'] == 'SL1']['CLQ']
group2 = df[df['SL'] == 'SL4']['CLQ']

In [17]:
from scipy.stats import ttest_ind

In [18]:
ttest_ind(group1, group2, alternative='greater')

Ttest_indResult(statistic=2.9032433054982345, pvalue=0.00787294225641665)