In [14]:
concrete = pd.read_csv('Concrete_Data_Yeh.csv')
concrete.head()

,cement,slag,flyash,water,superplasticizer,coarseaggregate,fineaggregate,age,csMPa
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [15]:
concreteQuant = add_constant(data=concrete.drop(columns=['csMPa']))
concreteQuant

,const,cement,slag,flyash,water,superplasticizer,coarseaggregate,fineaggregate,age
0,1.0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,1.0,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,1.0,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,1.0,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,1.0,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360
...,...,...,...,...,...,...,...,...,...
1025,1.0,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28
1026,1.0,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28
1027,1.0,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28
1028,1.0,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28
1029,1.0,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28

In [16]:
vif = pd.DataFrame()
vif['Features'] = concreteQuant.columns
vif['VIF'] = [variance_inflation_factor(concreteQuant.values, i) for i in range(len(concreteQuant.columns))]

In [17]:
vif

           Features          VIF
0             const  6731.811539
1            cement     7.488944
2              slag     7.276963
3            flyash     6.170634
4             water     7.003957
5  superplasticizer     2.963776
6   coarseaggregate     5.074617
7     fineaggregate     7.005081
8               age     1.118367

In [18]:
concreteQuant.drop(columns='cement', inplace=True)
vif = pd.DataFrame()
vif['Features'] = concreteQuant.columns
vif['VIF'] = [variance_inflation_factor(concreteQuant.values, i) for i in range(len(concreteQuant.columns))]

In [19]:
vif

           Features          VIF
0             const  1685.047629
1              slag     1.519528
2            flyash     1.398687
3             water     3.533371
4  superplasticizer     2.963506
5   coarseaggregate     2.005235
6     fineaggregate     1.847198
7               age     1.114155

In [23]:
fit1 = sm.ols('csMPa~slag+flyash+water+superplasticizer+coarseaggregate+fineaggregate+age+slag*water', data= concrete).fit()
fit1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  csMPa   R-squared:                       0.542
Model:                            OLS   Adj. R-squared:                  0.538
Method:                 Least Squares   F-statistic:                     151.0
Date:                Tue, 28 Mar 2023   Prob (F-statistic):          3.03e-167
Time:                        17:08:21   Log-Likelihood:                -3959.2
No. Observations:                1030   AIC:                             7936.
Df Residuals:                    1021   BIC:                             7981.
Df Model:                           8
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept          295.4392     14.932     19.786      0.000     266.139     324.740
slag                 0.0547      0.045      1.217      0.224      -0.034       0.143
flyash              -0.0642      0.007     -9.263      0.000      -0.078      -0.051
water               -0.5201      0.035    -14.743      0.000      -0.589      -0.451
superplasticizer     0.2503      0.103      2.422      0.016       0.048       0.453
coarseaggregate     -0.0845      0.006    -13.108      0.000      -0.097      -0.072
fineaggregate       -0.1091      0.006    -18.184      0.000      -0.121      -0.097
age                  0.1100      0.006     18.587      0.000       0.098       0.122
slag:water          -0.0004      0.000     -1.747      0.081      -0.001    5.12e-05
==============================================================================
Omnibus:                        1.503   Durbin-Watson:                   1.266
Prob(Omnibus):                  0.472   Jarque-Bera (JB):                1.576
Skew:                          -0.085   Prob(JB):                        0.455
Kurtosis:                       2.911   Cond. No.                     8.96e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.96e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""