In [196]:
class testClass:
    x = 5

In [197]:
aClass = testClass()
aClass.x

5

In [198]:
class Person:
    def __init__(self, name, age) -> None:
        self.name = name
        self.age = age
    def introduce(self):
        x = 5
        print('Hello, this person\'s name is', self.name, 'of age', self.age, 'the number is', x)

In [199]:
p1 = Person('John', 20)
p1.introduce()

Hello, this person's name is John of age 20 the number is 5

In [200]:
class nmims:
    college_name='NMIMS'
    def __init__(self, name, strength, sr, hod, year) -> None:
        self.name = name
        self.strength = strength
        self.sr = sr
        self.hod = hod
        self.year = year
    def printDetails(self):
        print('The course:', self.name)
        print('Strength:', self.strength)
        print('The SR:', self.sr)

In [201]:
btds = nmims('btds', 63, 'abcd', 'xyz', 2025)

In [202]:
btds.strength

63

In [203]:
btds.printDetails()

The course: btds
Strength: 63
The SR: abcd

In [204]:
class tsec(nmims):
    def __init__(self, name, strength, sr, hod, year,rank,inceptionYear) -> None:
        super().__init__(name, strength, sr, hod, year)
        self.rank=rank
        self.inceptionYear = inceptionYear
    def printFullDetails(self):
        print('The course:', self.name)
        print('Strength:', self.strength)
        print('The SR:', self.sr)
        print('The college is ranked', self.rank)
        print('The college was founded in', self.inceptionYear)

In [205]:
extc = tsec('extc', 70, 'abcd', 'syz', 2025, 4, 1970)

In [206]:
extc.printDetails()

The course: extc
Strength: 70
The SR: abcd

In [207]:
extc.printFullDetails()

The course: extc
Strength: 70
The SR: abcd
The college is ranked 4
The college was founded in 1970

#### Assignent Starts

#### Question/Problem Statement:-

- [x] An excel sheet is given, which has flight details of some n passengers. These details would form your variables in the class you construct (My class name is Passenger)
- [x] Use some means of storing this data and displaying it/part of it
- [ ] Also define a method within the class which allows user input

In [208]:
import numpy as np
import pandas as pd

In [209]:
flightDet = pd.read_excel("C:/Users/Kavita manoj/Downloads/ClassData.xlsx", sheet_name='Sheet1')

In [210]:
passengerList = []
class Passenger:
    def __init__(self, name, age, gender, passport_number, preference, destination, meal_pref, custom_declare, visa_type) -> None:
        self.name = name
        self.age = age
        self.gender = gender
        self.passport_number = passport_number
        self.preference = preference
        self.destination = destination
        self.meal_pref = meal_pref
        self.custom_declare = custom_declare
        self.visa_type = visa_type

In [211]:
flightDet.head()

,Name,Age,Gender,Passport_Number,Preference,Destination,Meal_Preference,Custom_Declare,Visa_Type
0,Prince,23,Male,53836326,Coach,BOM,Vegan,Cash,Tourist
1,Harsh,24,Male,25347263,Coach,BKK,Salad,Gold,Tourist
2,Sana,26,Female,62946273,First Class,DXB,Chicken Meal,Rolex,Tourist
3,Aneri,28,Female,52638463,Buisness Class,KTM,Vegan,NaN,Tourist
4,Rohan,23,Male,68354983,Coach,GOI,Vegan,NaN,Tourist

In [212]:
for i in range (0, len(flightDet.Name)):
    passenger = Passenger(flightDet['Name'][i], flightDet['Age'][i], flightDet['Gender'][i], flightDet['Passport_Number'][i], flightDet['Preference'][i], flightDet['Destination'][i], flightDet['Meal_Preference'][i], flightDet['Custom_Declare'][i], flightDet['Visa_Type'][i])
    passengerList.append(passenger)

# Use cases of passengerList (object array):-
# Displaying passengerList will give nothing of relevance
# Displaying passengerList[index].attribute is more important and useful

In [213]:
print(passengerList[0].name)
print(passengerList[1].name, passengerList[0].age)

Prince
Harsh 23

In [214]:
for x in range (0, len(passengerList)):
    print(x, passengerList[x].__dict__)

0 {'name': 'Prince', 'age': 23, 'gender': 'Male', 'passport_number': 53836326, 'preference': 'Coach', 'destination': 'BOM', 'meal_pref': 'Vegan', 'custom_declare': 'Cash', 'visa_type': 'Tourist'}
1 {'name': 'Harsh', 'age': 24, 'gender': 'Male', 'passport_number': 25347263, 'preference': 'Coach', 'destination': 'BKK', 'meal_pref': 'Salad', 'custom_declare': 'Gold', 'visa_type': 'Tourist'}
2 {'name': 'Sana', 'age': 26, 'gender': 'Female', 'passport_number': 62946273, 'preference': 'First Class', 'destination': 'DXB', 'meal_pref': 'Chicken Meal', 'custom_declare': 'Rolex', 'visa_type': 'Tourist'}
3 {'name': 'Aneri', 'age': 28, 'gender': 'Female', 'passport_number': 52638463, 'preference': 'Buisness Class', 'destination': 'KTM', 'meal_pref': 'Vegan', 'custom_declare': nan, 'visa_type': 'Tourist'}
4 {'name': 'Rohan', 'age': 23, 'gender': 'Male', 'passport_number': 68354983, 'preference': 'Coach', 'destination': 'GOI', 'meal_pref': 'Vegan', 'custom_declare': nan, 'visa_type': 'Tourist'}
5 {'name': 'Sumit', 'age': 32, 'gender': 'Male', 'passport_number': 65482734, 'preference': 'Buisness Class', 'destination': 'CMB', 'meal_pref': 'Chicken Meal', 'custom_declare': 'Cash', 'visa_type': 'Buisness'}
6 {'name': 'Hiten', 'age': 12, 'gender': 'Male', 'passport_number': 25463749, 'preference': 'First Class', 'destination': 'JFK', 'meal_pref': 'Salad', 'custom_declare': 'Cash', 'visa_type': 'Tourist'}
7 {'name': 'Sparsh', 'age': 45, 'gender': 'Male', 'passport_number': 45663527, 'preference': 'First Class', 'destination': 'JFK', 'meal_pref': 'Vegan', 'custom_declare': 'Gold', 'visa_type': 'Buisness'}
8 {'name': 'Vedant', 'age': 22, 'gender': 'Male', 'passport_number': 25374528, 'preference': 'Coach', 'destination': 'BKK', 'meal_pref': 'Chicken Meal', 'custom_declare': 'Gold', 'visa_type': 'Tourist'}
9 {'name': 'Mahek', 'age': 20, 'gender': 'Male', 'passport_number': 36492648, 'preference': 'Coach', 'destination': 'BKK', 'meal_pref': 'Salad', 'custom_declare': nan, 'visa_type': 'Tourist'}

In [215]:
## Uncomment the following and run this for user defined inputs to obtain data
"""
indexVal = int(input("Enter the ticket number (df index) to show all details: "))
try:
    print(passengerList[indexVal].__dict__)
except IndexError:
    print('Index out of range')
    indexVal = int(input("Try again. Enter the ticket number (df index) to show all details: "))
    print(passengerList[indexVal].__dict__)
"""

Index out of range
{'name': 'Sana', 'age': 26, 'gender': 'Female', 'passport_number': 62946273, 'preference': 'First Class', 'destination': 'DXB', 'meal_pref': 'Chicken Meal', 'custom_declare': 'Rolex', 'visa_type': 'Tourist'}