In [17]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [18]:
df = pd.DataFrame({'water': np.repeat(['daily', 'weekly'], 15), 
'sun' : np.tile(np.repeat(['low', 'med', 'high'], 5), 2),
'height' : [6, 6, 6, 5, 6, 5, 5, 6, 4, 5, 6, 6, 7, 8, 7, 3, 4, 4, 4, 5, 4, 4, 4, 4, 4, 5, 6, 6, 7, 8]})

print (df)

     water   sun  height
0    daily   low       6
1    daily   low       6
2    daily   low       6
3    daily   low       5
4    daily   low       6
5    daily   med       5
6    daily   med       5
7    daily   med       6
8    daily   med       4
9    daily   med       5
10   daily  high       6
11   daily  high       6
12   daily  high       7
13   daily  high       8
14   daily  high       7
15  weekly   low       3
16  weekly   low       4
17  weekly   low       4
18  weekly   low       4
19  weekly   low       5
20  weekly   med       4
21  weekly   med       4
22  weekly   med       4
23  weekly   med       4
24  weekly   med       4
25  weekly  high       5
26  weekly  high       6
27  weekly  high       6
28  weekly  high       7
29  weekly  high       8

In [19]:
fit2 = ols('height~sun+water+sun*water', data=df).fit()
anova2 = sm.stats.anova_lm(fit2, type = 2)
anova2
# if p value less than 0.05, reject null hypothesis i.e., theyre not same
# effect of sun IS there
# impact of water IS there
# impact of combination of sun and water? NOT impactful

             df     sum_sq    mean_sq        F    PR(>F)
sun         2.0  24.866667  12.433333  23.3125  0.000002
water       1.0   8.533333   8.533333  16.0000  0.000527
sun:water   2.0   2.466667   1.233333   2.3125  0.120667
Residual   24.0  12.800000   0.533333      NaN       NaN

In [20]:
tukey = pairwise_tukeyhsd(df["height"], groups=df['sun']+df['water'])
print (tukey)

    Multiple Comparison of Means - Tukey HSD, FWER=0.05
============================================================
  group1     group2   meandiff p-adj   lower   upper  reject
------------------------------------------------------------
 highdaily highweekly     -0.4  0.951 -1.8281  1.0281  False
 highdaily   lowdaily     -1.0 0.2898 -2.4281  0.4281  False
 highdaily  lowweekly     -2.8    0.0 -4.2281 -1.3719   True
 highdaily   meddaily     -1.8 0.0079 -3.2281 -0.3719   True
 highdaily  medweekly     -2.8    0.0 -4.2281 -1.3719   True
highweekly   lowdaily     -0.6 0.7827 -2.0281  0.8281  False
highweekly  lowweekly     -2.4 0.0003 -3.8281 -0.9719   True
highweekly   meddaily     -1.4  0.057 -2.8281  0.0281  False
highweekly  medweekly     -2.4 0.0003 -3.8281 -0.9719   True
  lowdaily  lowweekly     -1.8 0.0079 -3.2281 -0.3719   True
  lowdaily   meddaily     -0.8 0.5252 -2.2281  0.6281  False
  lowdaily  medweekly     -1.8 0.0079 -3.2281 -0.3719   True
 lowweekly   meddaily      1.0 0.2898 -0.4281  2.4281  False
 lowweekly  medweekly      0.0    1.0 -1.4281  1.4281  False
  meddaily  medweekly     -1.0 0.2898 -2.4281  0.4281  False
------------------------------------------------------------

In [21]:
df1 = pd.read_csv ("Cricketers.csv")
fit3 = ols('Eco_Rate~Type+Country+Type*Country', data=df1).fit()
anova2 = sm.stats.anova_lm(fit3, type = 2)
anova2

                df      sum_sq    mean_sq           F        PR(>F)
Type           3.0  153.419376  51.139792  234.831806  3.075955e-23
Country        2.0    4.876221   2.438110   11.195701  1.743296e-04
Type:Country   6.0    3.329018   0.554836    2.547786  3.747193e-02
Residual      35.0    7.622020   0.217772         NaN           NaN

In [22]:
tukey = pairwise_tukeyhsd(df1["Eco_Rate"], groups=df1['Country']+ df1['Type'])
print (tukey)

   Multiple Comparison of Means - Tukey HSD, FWER=0.05
==========================================================
  group1    group2  meandiff p-adj   lower   upper  reject
----------------------------------------------------------
AUSOneDay    AUST20    2.962    0.0  1.9659  3.9581   True
AUSOneDay  AUSTest    -1.878    0.0 -2.8741 -0.8819   True
AUSOneDay ENGOneDay     0.88 0.1214 -0.1161  1.8761  False
AUSOneDay    ENGT20    3.198    0.0  2.2019  4.1941   True
AUSOneDay   ENGTest   -1.564 0.1027 -3.2892  0.1612  False
AUSOneDay  ENGTest    -1.819 0.0001 -2.8755 -0.7625   True
AUSOneDay INDOneDay   -0.032    1.0 -1.0281  0.9641  False
AUSOneDay    INDT20    1.828    0.0  0.8319  2.8241   True
AUSOneDay  INDTest    -1.924    0.0 -2.9201 -0.9279   True
   AUST20  AUSTest     -4.84    0.0 -5.8361 -3.8439   True
   AUST20 ENGOneDay   -2.082    0.0 -3.0781 -1.0859   True
   AUST20    ENGT20    0.236 0.9981 -0.7601  1.2321  False
   AUST20   ENGTest   -4.526    0.0 -6.2512 -2.8008   True
   AUST20  ENGTest    -4.781    0.0 -5.8375 -3.7245   True
   AUST20 INDOneDay   -2.994    0.0 -3.9901 -1.9979   True
   AUST20    INDT20   -1.134 0.0155 -2.1301 -0.1379   True
   AUST20  INDTest    -4.886    0.0 -5.8821 -3.8899   True
 AUSTest  ENGOneDay    2.758    0.0  1.7619  3.7541   True
 AUSTest     ENGT20    5.076    0.0  4.0799  6.0721   True
 AUSTest    ENGTest    0.314 0.9998 -1.4112  2.0392  False
 AUSTest   ENGTest     0.059    1.0 -0.9975  1.1155  False
 AUSTest  INDOneDay    1.846    0.0  0.8499  2.8421   True
 AUSTest     INDT20    3.706    0.0  2.7099  4.7021   True
 AUSTest   INDTest    -0.046    1.0 -1.0421  0.9501  False
ENGOneDay    ENGT20    2.318    0.0  1.3219  3.3141   True
ENGOneDay   ENGTest   -2.444 0.0011 -4.1692 -0.7188   True
ENGOneDay  ENGTest    -2.699    0.0 -3.7555 -1.6425   True
ENGOneDay INDOneDay   -0.912 0.0961 -1.9081  0.0841  False
ENGOneDay    INDT20    0.948 0.0731 -0.0481  1.9441  False
ENGOneDay  INDTest    -2.804    0.0 -3.8001 -1.8079   True
   ENGT20   ENGTest   -4.762    0.0 -6.4872 -3.0368   True
   ENGT20  ENGTest    -5.017    0.0 -6.0735 -3.9605   True
   ENGT20 INDOneDay    -3.23    0.0 -4.2261 -2.2339   True
   ENGT20    INDT20    -1.37 0.0017 -2.3661 -0.3739   True
   ENGT20  INDTest    -5.122    0.0 -6.1181 -4.1259   True
  ENGTest  ENGTest    -0.255    1.0 -2.0158  1.5058  False
  ENGTest INDOneDay    1.532 0.1175 -0.1932  3.2572  False
  ENGTest    INDT20    3.392    0.0  1.6668  5.1172   True
  ENGTest  INDTest     -0.36 0.9993 -2.0852  1.3652  False
 ENGTest  INDOneDay    1.787 0.0001  0.7305  2.8435   True
 ENGTest     INDT20    3.647    0.0  2.5905  4.7035   True
 ENGTest   INDTest    -0.105    1.0 -1.1615  0.9515  False
INDOneDay    INDT20     1.86    0.0  0.8639  2.8561   True
INDOneDay  INDTest    -1.892    0.0 -2.8881 -0.8959   True
   INDT20  INDTest    -3.752    0.0 -4.7481 -2.7559   True
----------------------------------------------------------