In [305]:
import numpy as np
import pandas as pd
import scipy.stats
from statsmodels.formula.api import ols
import statsmodels.api as sm
from statsmodels.multivariate.manova import MANOVA

In [306]:
df = pd.read_csv("AutoDataset.csv")
df["origin"] = df["origin"].astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   year          392 non-null    int64
 7   origin        392 non-null    object
 8   name          392 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 27.7+ KB

In [307]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
387,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
388,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
389,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
390,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
391,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [308]:
manova = MANOVA.from_formula("displacement+	horsepower+	weight+	acceleration+mpg~origin", data=df)
print (manova.mv_test())

                    Multivariate linear model
==================================================================

------------------------------------------------------------------
       Intercept         Value   Num DF  Den DF   F Value   Pr > F
------------------------------------------------------------------
          Wilks' lambda   0.0065 5.0000 385.0000 11775.3297 0.0000
         Pillai's trace   0.9935 5.0000 385.0000 11775.3297 0.0000
 Hotelling-Lawley trace 152.9264 5.0000 385.0000 11775.3297 0.0000
    Roy's greatest root 152.9264 5.0000 385.0000 11775.3297 0.0000
------------------------------------------------------------------

------------------------------------------------------------------
             origin         Value   Num DF  Den DF  F Value Pr > F
------------------------------------------------------------------
              Wilks' lambda 0.4823 10.0000 770.0000 33.8798 0.0000
             Pillai's trace 0.5381 10.0000 772.0000 28.4138 0.0000
     Hotelling-Lawley trace 1.0314 10.0000 574.7568 39.6423 0.0000
        Roy's greatest root 0.9888  5.0000 386.0000 76.3373 0.0000
==================================================================

In [309]:
fit1 = ols("displacement~origin", data=df).fit()
fit2 = ols("horsepower~origin", data=df).fit()
fit3 = ols("weight~origin", data=df).fit()
fit4 = ols("acceleration~origin", data=df).fit()
fit5 = ols("mpg~origin", data=df).fit()

In [310]:
anova1= sm.stats.anova_lm(fit1)
anova1

             df        sum_sq        mean_sq           F        PR(>F)
origin      2.0  1.843915e+06  921957.318881  147.124123  2.628295e-48
Residual  389.0  2.437679e+06    6266.527187         NaN           NaN

In [311]:
anova2= sm.stats.anova_lm(fit2)
anova2

             df         sum_sq       mean_sq          F        PR(>F)
origin      2.0  138894.594943  69447.297471  61.342093  6.987301e-24
Residual  389.0  440399.037710   1132.131202        NaN           NaN

In [312]:
anova3= sm.stats.anova_lm(fit3)
anova3

             df        sum_sq       mean_sq           F        PR(>F)
origin      2.0  1.035338e+08  5.176691e+07  112.772038  2.353054e-39
Residual  389.0  1.785667e+08  4.590403e+05         NaN           NaN

In [313]:
anova4= sm.stats.anova_lm(fit4)
anova4

             df       sum_sq     mean_sq          F        PR(>F)
origin      2.0   212.577639  106.288820  14.961844  5.494850e-07
Residual  389.0  2763.452871    7.103992        NaN           NaN

In [314]:
anova5= sm.stats.anova_lm(fit5)
anova5

             df        sum_sq      mean_sq         F        PR(>F)
origin      2.0   7904.291038  3952.145519  96.60153  8.673818e-35
Residual  389.0  15914.702431    40.911831       NaN           NaN

In [315]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
tukey = pairwise_tukeyhsd(df["displacement"], df["origin"])
tukey._results_table

In [316]:
import scipy.stats as s
s.ttest_ind(df['origin']=='1', df['origin']=='2', equal_var=False, alternative="less")

Ttest_indResult(statistic=14.526860143052048, pvalue=1.0)

In [317]:
s.ttest_ind(df['origin'] == '1', df['origin']=='3', equal_var=False, alternative="less")

Ttest_indResult(statistic=13.318395976883117, pvalue=1.0)

In [318]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   year          392 non-null    int64
 7   origin        392 non-null    object
 8   name          392 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 27.7+ KB

In [319]:
df['cylinders'] = df['cylinders'].astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    object
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   year          392 non-null    int64
 7   origin        392 non-null    object
 8   name          392 non-null    object
dtypes: float64(3), int64(3), object(3)
memory usage: 27.7+ KB

In [320]:
manova2 = MANOVA.from_formula("displacement+mpg+horsepower+weight+acceleration~cylinders", data=df)
print (manova2.mv_test())

                    Multivariate linear model
=================================================================

-----------------------------------------------------------------
          Intercept        Value  Num DF  Den DF  F Value  Pr > F
-----------------------------------------------------------------
             Wilks' lambda 0.3013 5.0000 383.0000 177.6007 0.0000
            Pillai's trace 0.6987 5.0000 383.0000 177.6007 0.0000
    Hotelling-Lawley trace 2.3185 5.0000 383.0000 177.6007 0.0000
       Roy's greatest root 2.3185 5.0000 383.0000 177.6007 0.0000
-----------------------------------------------------------------

-----------------------------------------------------------------
       cylinders         Value   Num DF   Den DF  F Value  Pr > F
-----------------------------------------------------------------
          Wilks' lambda  0.0643 20.0000 1271.2172  81.8091 0.0000
         Pillai's trace  1.2406 20.0000 1544.0000  34.7101 0.0000
 Hotelling-Lawley trace 10.2036 20.0000  835.1889 194.8461 0.0000
    Roy's greatest root  9.8046  5.0000  386.0000 756.9162 0.0000
=================================================================

In [321]:
lm1 = ols("displacement~cylinders", data=df).fit()
lm2 = ols("horsepower~cylinders", data=df).fit()
lm3 = ols("weight~cylinders", data=df).fit()
lm4 = ols("acceleration~cylinders", data=df).fit()
lm5 = ols("mpg~cylinders", data=df).fit()

In [322]:
a1 = sm.stats.anova_lm(lm1)
a2 = sm.stats.anova_lm(lm2)
a3 = sm.stats.anova_lm(lm3)
a4 = sm.stats.anova_lm(lm4)
a5 = sm.stats.anova_lm(lm5)

In [323]:
a1

              df        sum_sq        mean_sq           F         PR(>F)
cylinders    4.0  3.879419e+06  969854.718944  933.260216  3.054493e-197
Residual   387.0  4.021748e+05    1039.211467         NaN            NaN

In [324]:
a2

              df         sum_sq        mean_sq           F         PR(>F)
cylinders    4.0  437261.557889  109315.389472  297.855648  1.079822e-116
Residual   387.0  142032.074764     367.007945         NaN            NaN

In [325]:
a3

              df        sum_sq       mean_sq           F         PR(>F)
cylinders    4.0  2.287520e+08  5.718799e+07  414.851887  1.751845e-138
Residual   387.0  5.334856e+07  1.378516e+05         NaN            NaN

In [326]:
a4

              df       sum_sq     mean_sq          F        PR(>F)
cylinders    4.0   996.138382  249.034595  48.677596  3.709542e-33
Residual   387.0  1979.892128    5.116000        NaN           NaN

In [327]:
a5

              df        sum_sq      mean_sq           F        PR(>F)
cylinders    4.0  15274.506767  3818.626692  172.954629  8.785541e-85
Residual   387.0   8544.486702    22.078777         NaN           NaN

In [328]:
tukey2 = pairwise_tukeyhsd(df['displacement'], df['cylinders'])
tukey2._results_table

In [329]:
s.ttest_ind(df['cylinders']=='3', df['cylinders']=='5', alternative='less')

Ttest_indResult(statistic=nan, pvalue=nan)